In [1]:
from py2neo import Graph

In [5]:
graph_1 = Graph()
graph_1
graph_2 = Graph("bolt://localhost:7687",auth=("neo4j","password"))
graph_2

Graph('bolt://neo4j@localhost:7687')

In [9]:
from py2neo import Graph, Node, Relationship

g=Graph()
node_0 = Node("Node",name="0")
node_1 = Node("Node",name="1")
re_01 = Relationship(node_0,"DIST",node_1,dist=100)

tx = g.begin()
tx.create(re_01)
tx.commit()
if tx.finished() ==False:
    print('transaction is still open')
else:
    print('transaction has been completed')

transaction has been completed

In [10]:
g.run("MATCH(n) RETURN(n)")

 n
-----------------------
 (_2:Node {name: '0'})
 (_3:Node {name: '1'})
 (_4:Node {name: '0'})

In [15]:
g = Graph()

g.evaluate("create(:Node{name:$name1})-[:DIST]->(:Node{name: $name2})",{"name1":"2","name2":"3"})

In [16]:
g.run("match(n) return(n)")

 n
-----------------------
 (_2:Node {name: '0'})
 (_3:Node {name: '1'})
 (_4:Node {name: '0'})

In [17]:
g.run("match(n) return (n)").to_table()

 n
------------------------
 (_2:Node {name: '0'})
 (_3:Node {name: '1'})
 (_4:Node {name: '0'})
 (_5:Node {name: '1'})
 (_6:Node {name: '0'})
 (_7:Node {name: '1'})
 (_8:Node {name: '2'})
 (_9:Node {name: '3'})
 (_10:Node {name: '2'})
 (_11:Node {name: '3'})

In [21]:
g.run("match(n) return n").to_data_frame()

               n
0  {'name': '0'}
1  {'name': '1'}
2  {'name': '0'}
3  {'name': '1'}
4  {'name': '0'}
5  {'name': '1'}
6  {'name': '2'}
7  {'name': '3'}
8  {'name': '2'}
9  {'name': '3'}

In [20]:
g.run("match(n) return n").to_ndarray()

array([[Node('Node', name='0')],
       [Node('Node', name='1')],
       [Node('Node', name='0')],
       [Node('Node', name='1')],
       [Node('Node', name='0')],
       [Node('Node', name='1')],
       [Node('Node', name='2')],
       [Node('Node', name='3')],
       [Node('Node', name='2')],
       [Node('Node', name='3')]], dtype=object)